{% extends 'all-projects/base.html' %}

{% block content %}

    {{block.super}}
    <div class="container">

        <div class="row">

            {% for project in projects %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                    <h2>
                        
                        <a href="{% url 'project' project.id %}">   
                            {{project.name}}
                        </a>

                        <br>

                        <small>
                            by {{project.creator.first_name}} {{project.creator.last_name}}
                        </small>

                    </h2>
                    
                </div>

            {% empty %}

                <h2 class="text-center">
                    There are no projects to display
                </h2>

            {% endfor %}

        </div>
    </div>
{% endblock %}