{% extends 'all-projects/base.html' %}

{% block content %}

    {{block.super}}
    <div class="container-fluid">

        <div class="row">

            {% for project in projects %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

                    <h2>
                        
                        <a href="{% url 'project' project.id %}"> 


                            <img src="{{project.project_image.url}}" alt="Project Screenshot"searchl>  

                            <br>

                        </a>

                    </h2>
                    
                </div>

            {% empty %}

                <h2 class="text-center">
                    There are no projects to display
                </h2>

            {% endfor %}

        </div>
    </div>
{% endblock %}