{% extends 'all-projects/base.html' %}

{% block content %}

    {{block.super}}
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <img src="{{project.project_image.url}}" alt="Project Screenshot" class="img-responsive">

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <h3>
                    {{project.name}}

                    <br>

                    <small>
                        by {{project.creator.first_name}} {{project.creator.last_name}}
                    </small> 
                </h3>

                <hr>

                <article>

                <p>
                    {{project.description}}
                </p>
                    
                </article>
                
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a href="{{project.git_hub_link}}">Git Hub Repository</a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <a href="{{project.deployed_link}}">Deployed Site</a>
                
            </div>
            
        </div>

    </div>
{% endblock %}